<div class="footer">
  <div class="links">
    <a href="#"><i class="fas fa-dog"></i></a>
    <a href="#"><i class="fas fa-paw"></i></a>
    <p>Happy Dogs was coded with <i class="fas fa-heart"></i> by Meet the Yogis, 07/2021</p>
</div>
