<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
<img src="app/assets/images/dog.jpg">
  <div class="container">
    <h1>xyxy<strong>xyxy</strong> to <strong>xyxy/strong>!</h1>
    <p>xyxyx</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>


<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
