<div class="banner"> <!-- style="background-image: url('<%= image_path "dog.jpg" %>)"> -->
   <div class="container">
    <h1 class="home">Happy Dogs combine the best of two worlds: beautiful flats & dogs!</h1>
    <p class="home-p">Book your dog home now and experience a lovely stay in a home with your dog in any city around the world!</p>
    <%= link_to "Book a dog home now!", doghomes_path, class: "btn_home"%>
  </div>
</div>
