// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.banner {
  background-image: asset-url('dog.jpg');
  background-size: cover;
  background-position: center;
  height: 800px;
}

.home {
  color: white;
  text-align: left;
  display: flex;
  font-size: 36px;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  padding: 300px 0px 20px 0px;
  padding-right: 550px;
  margin-left: -50px;
}

.home-p {
  color: white;
  display: left;
  font-size: 20px;
  margin-left: -50px;
  margin-bottom: 50px;
  padding-right: 550px;
}

.btn_home {
  color: white;
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
  margin-left: -50px;
  background-color: #00303F;
  border: 2px solid #00303F;
  border-radius: 5px;
  padding: 16px 34px;
}

.btn_home:hover {
  text-decoration: none;
  color:  #00303F;
  background-color: #CCFFBD;
  border: 2px solid #CCFFBD;
}

.navbar-brand {
  radius: 50px;
}

.footer {
  background-color: #00303F;
  text-align: center;
  padding: 30px;
  margin-top: 20px
}

.footer a {
  color: #CCFFBD;
  font-size: 30px;
  margin: 0 6px;
  margin-bottom: 10px;
}

.footer p {
  color: white;
  margin-top: 10px;
}

.footer p .fas  {
  color: #FA1E0E;
}
